
.clr {
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
}

/* product-show éƒ¨åˆ† */

.product-show {
    background: #fff;
    box-sizing: border-box;
    padding: 50px 0;
}

.product-show .title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}

.product-show .title h5 {
    font-size: 22px;
    margin: 25px 0;
}

.product-show .title .app-hid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-show .banner {
    max-width: 1440px;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
}

.product-show .imgbox {
    width: 85%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.product-show .box2 {
    display: none;
}

.product-show .img {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    /* margin-left: -683px; */
}

.product-show .im {
    display: block;
}

.product-show .change {
    display: block;
    position: absolute;
    z-index: 20;
    opacity: 0.6;
    transition: 0.4s;
    top: 50%;
    transform: translateY(-50%);
    width: 3%;
}

.product-show .change:hover {
    opacity: 1;
}

.product-show .pre {
    left: 1%;
}

.product-show .next {
    right: 1%;
}

.product-show .app-list {
    padding: 0 10px;
}

.product-show .app-list ul li {
    height: 35px;
    line-height: 35px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
}

.product-show .app-list ul li i {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #04afa6;
    border-radius: 50%;
    /* margin-top: 20px; */
}

/* .product-detail{
	height: 700px;
} */

.product-detail .product-list {
    max-width: 1200px;
    margin: 0 auto; 
}

.product-list ul {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product-list ul li {
    width: 24%;
    margin: 25px 1% 0 0;
    text-align: center;
    font-size: 14px;
    background: #fff;
    transition: all 0.1s;
    border-right: 1px solid #e5e7ea;
}
.product-list ul li:last-child {
    border-right: none;
} 
.product-list ul li.not-use {
    height: 0;
    box-shadow: none;
    margin-top: 0;
}
#earth .product-list li {
    margin: 0 ;
    width: 32%;
    border: none;
    overflow: hidden;
}
#earth .product-list li .info {
    border: 1px solid #c6c6c6;
    border-top: none;
    width: calc( 100% - 2px);
    margin: 0 auto;
    padding: 50px;
    text-align: left;
}
#earth .product-list li .info span {
    font-size: 24px;
    color: #3b3b3b;
    text-align: left;
}
#earth .product-list li .info p {
    font-size: 17px;
    color: #777777;
    text-align: left;
}
#earth .product-list li:nth-child(2) {
    margin: 0 2%;
}
.product-list ul li.not-use:hover {
    background: #fff;
} 
 
.product-list ul li .icon span {
    color: #333;
    font-size: 16px;
}
.product-list ul li p {
    font-size: 14px;
    margin-top: 10px;
    color: #ababab;
}
#advantage .product-list ul li,
#advantage {
    background: #f7f8fa;
}
#advantage .product-list ul li {
    margin: 0;
    border: none;
    width: 25%;
}
#advantage .product-list ul li .icon {
    margin: 0 0 30px 0;
}
#advantage .product-list ul li span {
    font-size: 16px;
    color: #5e5e5e;
}
/* programme éƒ¨åˆ† */

.programme {
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;
    width: 100%;
}
 
.programme .tab {
    text-align: center;
    float: left;
    position: relative;
    z-index: 10;
    width: 15%;
    background-color: #fff;
}

.programme .tab a,
.programme .tab button {
    display: block;
    color: #848484;
    font-size: 16px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    transition: all 0.6s;
    cursor: pointer;
    border: 1px solid #efeff4;
    outline: none;
    text-decoration: none;
}

.programme .tab a:hover,
.programme .tab a.active,
.programme .tab button:hover,
.programme .tab button.active {
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px;
    border-left: 5px solid #debd9a;
}

.programme .detail {
    float: left;
    padding: 4%;
    width: 85%;
}

.programme .detail h3 {
    font-size: 34px;
}

.programme .detail h5 {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}
.programme .detail p {
    color: #666;
    font-size: 16px;
    line-height: 24px;
}
.programme .detail .tab-cont {
    transition: all 0.6s;
}

.programme .detail .tab-cont>div {
    float: left;
}
 

.programme .detail .tab-cont h5 {
    margin-bottom: 20px;
}
#job .tab-cont button {
    background-color: #e93830;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 180px;
    margin-top: 50px;
    border: none;
}

 
#job .tab-cont button:hover {
    background-color: #c10e06;
}
.tab-content img {
    background-color: #f5f5f5;
    width: auto;
    margin-top: 40px;
}
.tab-content img:first-child {
    margin-right: 20px;
}
/* case éƒ¨åˆ† */

.location { 
    box-sizing: border-box;
    background-size: auto 100%;
}

.location .title {
    text-align: center;
    font-size: 16px;
}

.location .title h5 {
    font-size: 22px;
    margin: 25px 0;
}

.location .scrsParent {
    display: none;
}

.location .carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.location .carousel>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.location .carousel figure {
    margin: 0;
    width: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}

.location .carousel figure>span {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0px;
    display: block;
}

.location .carousel figure>span span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.location .carousel figure>span img {
    width: 100%;
}

.location .carousel figure>span i {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 42px;
    right: 41px;
    top: 0;
    bottom: 100%;
    border-radius: 10px 10px 0 0;
    background: url('../img/case/bk.png') center no-repeat;
    background-size: 100% 100%;
    transition: all 0.3s;
}

.location .carousel figure span:hover i {
    bottom: 16px;
    /* top: 0px; */
}

.location .carousel figure>span:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
}

.location .carousel nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0 0;
}

/* .location .carousel nav button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
} */

.location .carousel nav button.prev {
    position: absolute;
    top: 48%;
    right: 0;
    width: 32px;
    height: 58px;
    transform: translate(-50%, 0);
    background: url('../img/case/next.png') no-repeat;
    border: 0;
    outline: none;
    opacity: 0.8;
}

.location .carousel nav button.prev:hover {
    opacity: 1;
}

.lee-container .dg-lee-container nav span.dg-next {
    position: absolute;
    top: -220px;
    right: -550px;
    width: 32px;
    height: 58px;
    transform: translate(-50%, 0);
    background: url('../img/case/next.png') no-repeat;
    border: 0;
    outline: none;
    opacity: 0.8;
}

.lee-container .dg-lee-container nav span.dg-next:hover {
    opacity: 1;
}

.location .location-more {
    width: 148px;
    margin: -40px auto 0;
}

 

.support .overlay {
    padding: 50px 0;
}
#tech .overlay {
    padding: 50px 0 0 0;
}
.support .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
}

.support .title h2 {
    font-size: 34px;
    margin-top: 0;
    color: #333;
}

.support .title h5 {
    font-size: 14px;
    margin: 15px 0;
    color: #999;
}

.support .detail {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;    
    color: #666;
}

.support .detail ul {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -20px;
}

.support .detail li {
    text-align: center;
    position: relative; 
    overflow: hidden;
}
.support .detail li:last-child {
    margin-right: 0;
}
 
.support .detail ul li.not-use {
    height: 0;
    padding: 0;
}
.culture .detail li {
    width: 24%;
    margin-right: 1%;
}
.support .detail h6 {
    font-size: 24px;
    transition: all 0.8s;
    color: #fff;
    margin: 0;
}
#tech .detail h6:after {
    content: '';
    height: 2px;
    background-color: #fff;
    width: 140px;
    display: block;
    margin: 10px 0;
}
#earth h5,
#world h5,
#tech .detail h5 {
    font-size: 24px;
    color: #525252;
    text-align: center;
    margin: 0 auto 40px;
}
#tech .detail li:nth-child(1) .hover-cont {
     left: 14%;
}
#tech .detail li:nth-child(2) .hover-cont {
    text-align: center;
    left: 20%;
}
#tech .detail li:last-child .hover-cont {
    text-align: right;
    left: 7%;
}
#tech .detail li:last-child h6:after {
    float: right;
}
#tech .detail li:last-child p {
    clear: both;
    text-align: right;
}
.support .detail h6 span {
    color: #7e5cf6;
    text-shadow: 1px 1px 3px #fff;
}
.support .detail p {
    font-size: 18px;
    text-align: left; 
    z-index: 10;
}
.support .detail li img {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
.support .detail li:hover > img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-duration: 750ms;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-duration: 750ms;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-duration: 750ms;
    -o-transition-duration: 750ms;
    overflow: hidden;
}
.support .detail .hover-cont {
    text-shadow: 0px 0px 2px #333;
    overflow: hidden;
    text-align: left;
    position: absolute;
    left: 9%;
    top: 43%;
    padding: 0 10%;
    transition: all 0.6s;
    color: #fff;
    z-index: 2;
}
#tech .detail .hover-cont {
    bottom: 40px;
    top: auto;
}
.support .detail .hover-cont .icon img {
    visibility: hidden;
    opacity: 0;
    margin-top: -15px;
}

.support .detail .hover-cont img.bt {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: ease-in 0.5s;
    transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    /* Firefox 4 */
    -webkit-transition-delay: 0.1s;
    /* Safari å’Œ Chrome */
    -o-transition-delay: 0.1s;
    /* Opera */
}
 
.support .detail li:hover .hover-cont .icon img {
    visibility: visible;
    opacity: 1;
    margin-top: -5px;
    transition: ease-in 0.5s;
    transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    /* Firefox 4 */
    -webkit-transition-delay: 0.3s;
    /* Safari å’Œ Chrome */
    -o-transition-delay: 0.3s;
    /* Opera */
}

.support .scrsParent {
    display: none;
}
 
.fl {
    float: left;
}
.fr {
    float: right;
}
/* åª’ä½“æŸ¥è¯¢ */

@media screen and (max-width: 1250px) {
    /*å®½åº¦å°äºŽ800 */
    .product-show .banner .imgbox {
        height: 385px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1200px!important;
        padding: 0!important;
    }
}

@media screen and (max-width: 1150px) {
    /*å®½åº¦å°äºŽ800 */
    .product-show .banner .imgbox {
        height: 350px;
    }
}

@media screen and (max-width: 1000px) {
    /*å®½åº¦å°äºŽ800 */
    .product-show .banner .imgbox {
        height: 310px;
    }
    #programme,
    #programme .overlay {
        height: auto;
    }
    #programme .overlay {
        padding: 40px 0;
    }
    #programme .tab {
        width: 240px;
        height: 40px;
        margin: 0 auto 40px;
        float: none;
    }
    #programme .tab span {
        width: 50%;
        float: left;
    }
    #programme .detail {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (max-width:768px) {
    #boon .container li {
        width: 95%!important;
        float: none!important;
        font-size: 12px!important;
        margin: 10px auto!important;
    }
    .app-hid,
    .product-show .box1,
    .statistic-app,
    .screenshots, 
    .server2 .cont p {
        display: none;
    }
    .bttn-applora-gradient.ios {
        width: 154px;
    }
    .product-show {
        padding: 20px 0;
    }
    .product-show .title img,
    .location .title img,
    .server2 .title img {
        width: 50%;
    }
    .product-show .box2 {
        display: block;
    }
    /* .product-show .box1{
        z-index: -1;
        height: 0;
    } */
    .product-show .banner .imgbox {
        height: 288px;
    }
    .product-show .banner .change {
        display: none;
    }
  
    #advantage .product-list li {
        width: 40%;
        height: auto;
        box-shadow: none;
        text-align: left;
        margin: 15px auto;
        border: none;
    }
    #advantage .product-list li.not-use {
        margin: 0;
    }
    #advantage .product-list li .icon {
        background: none;
        text-align: center;
        margin: 0 0 10px 0!important;
        text-align: center;
    }
    #advantage  .product-list ul li p {
        font-size: 12px;
         margin-top: 0px;
    }
    #advantage .product-list ul li span {
        font-size: 14px;
    }
    .location .carousel {
        display: none;
    }
    .location .scrsParent {
        position: relative;
        display: block;
        margin-top: 30px;
    }
    .location .scrsParent .owl-item {
        padding: 0 20px;
    }
    .location .location-more {
        margin-top: 28px;
    }
    .support .overlay {
        padding: 2% 0;
    }
    .support .scrsParent {
        display: block;
        text-align: center;
    }
    .support .title {
        margin-bottom: 0;
    }
    .support .title h5 {
        margin-top: 0;
    }
    .support .scrsParent .owl-item .item .icon {
        width: 20%;
        margin: 0 auto;
    }
    .support .scrsParent .owl-item .item h6 {
        margin-top: 20px;
    }
    .support .scrsParent .owl-item .item p {
        text-align: left;
        padding: 0 20px;
        margin-bottom: 0;
    }
 
    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%)
    }
    .owl-prev {
        left: 5px;
    }
    .owl-next {
        right: 5px;
    } 
    .support .detail h6 {
        top: 20%;
    }
    .support .detail ul {
        margin: 0;
    }
    .support .detail li:last-child {
         margin-right: auto; 
    }
    .fr.footer-menus,
    .logo-footer {
        text-align: center;
        float: none;
    }
    .footer .copyright {    
        margin: 0!important;
    }
    .fr.footer-menus {
        width: 100%;
    }
    .footer-menus a {
        margin: 0 2%!important;
        float: none;
    }
    #scroll-top,
    .footer-top {
        display: none!important;
    }
    .footer-mobile {  
        background: #292927 url(../images/bg-footer.jpg) no-repeat right top;
    }
    .ercode {
        margin: 0;
    }
    .ercode .qq-code, 
    .ercode .wx-code {
        margin: 8% 10% 0 0;
    }
    .footer-mobile ul {
        margin-top: 35px;
    }
    .footer-mobile  li {    
        text-align: center!important;
        border: 1px solid #716a6a;
        height: 40px;
        line-height: 40px;
        width: 90%;
        margin: 10px auto 0;
    }
    p.footer-copyright {
        background-color: #282827!important;
        margin: 0;
        height: 70px!important;
        line-height: 70px!important;
    }
    .footer-nav {
        height: 50px;
        background-color: #f1f0ee;
        position: fixed;
        bottom: 0;
        width: 100%;
        box-shadow: 0 0 16px #9a9696;
    }
    .footer-nav a {
        color: #333!important;
        width: 19%;
        display: inline-block;
        text-align: center!important;
    }
    .footer-nav a i {
        width: 22px;
        height: 22px;
        display: block;
        margin: 6px auto 0;
    }
    .footer-nav a:nth-child(1) i {
        background: url('../images/icons/menus-home.jpg') center top;
        background-size: contain;
    }
    .footer-nav a:nth-child(2) i {
        background: url('../images/icons/menus-company.jpg') center top;
        background-size: contain;
    }
    .footer-nav a:nth-child(3) i {
        background: url('../images/icons/menus-job.jpg') center top;
        background-size: contain;
    }
    .footer-nav a:nth-child(4) i {
        background: url('../images/icons/menus-project.jpg') center top;
        background-size: contain;
    }
    .footer-nav a:nth-child(5) i {
        background: url('../images/icons/menus-call.jpg') center top;
        background-size: contain;
    }
}

@media only screen and (max-width: 480px) {
    .title-red {
        width: 100%!important;
    }
}